<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/work.css">
</head>
<body>
<div id="top">
    <span id="tolkien">"Not all those who wander are lost."  -J.R.R. Tolkien</span>
</div>
<div style="background-color:steelblue;width:100%;">
    <ul>
        <li><a class="list" href="/">Home</a></li>
        <li><a class="list" href="/work-education">Work & Education</a></li>
        <li><a class="list" href="personal" >Personal Life</a></li>
        <li><a class="list" href="photos">Gallery</a></li>
    </ul>
</div>
<div id="body">
<p id="workintro"> I am currently working at Google in the Hardware Customer Care <br>division as a data analyst while also pursuing my second bachelor degree <br>in computer science at Oregon State University ecampus</p>
    <p>You can connect with me on <a id="linkedin" href="https://www.linkedin.com/in/marcusknightley/" target="_blank">Linkedin</a></p>
    <p>You can also download my resume here:
    <a href="/images/MarcusKnightley.Resume.pdf" download="Marcus.Knightley.Resume.pdf">
        <img src="/images/MarcusKnightley.Resume.pdf" alt="Marcus Knightley Resume">
    </a></p>



</div>
</body>
</html>
