#top { background-color:lightskyblue;margin:10px 10px 0 0;border:solid;height:100px;width:100%;text-align:center;line-height:100px;}
ul{ list-style-type: none;margin:5px;padding: 5px;overflow: hidden;}

li {float: left;}

a { display:block;padding:20px;background-color:darkblue;color:white;}

#sign {border-color: aquamarine;margin: 10px;border-style: solid;width:35%;}
.formheader {margin:5px 0 20px 10px;}
label, input{margin: 10px 10px 10px 10px;}
#submit{margin: 10px 50% 10px 40%;}

.float-container {padding:20px;}

.float-child {width: 50%;float: left;padding:20px;border: 2px solid;}